@import "../../global.scss";

.weather {
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.8);
  height: 57vh;

  * {
    overflow: visible;
  }

  @include mobile {
    height: 42vh;
    align-items: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  }

  @include narrow {
    height: 25vh;
    min-height: 240px;
    min-width: 85vw;
    max-width: 85vw;
  }
  @include mobileKeyboard {
    min-height: 260px;
  }
  @include mobileHorizontal {
    min-height: none;
  }

  .weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    @include mobile {
      margin-top: 0px;
    }

    @include mobileHorizontal {
      margin-top: 0px;
    }

    // location
    h1 {
      font-size: 70px;
      padding-bottom: 40px;
      margin-top: 0px;
      width: 100%;
      text-align: center;

      @include mobile {
        padding-bottom: 20px;
        font-size: 60px;
      }

      @include narrow {
        margin-top: 10px;
        padding-bottom: 6px;
        font-size: 40px;
      }
      @include mobileHorizontal {
        font-size: 40px;
      }
    }

    .info-container {
      display: flex;
      flex-direction: row;

      .side {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 150px;

        @include narrow {
          padding: 0px 6px;
        }
        @include mobileHorizontal {
          padding: 0px 5px;
          min-width: 120px;
        }

        // icon
        .icon-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-height: 150px;
          overflow: visible;

          @include narrow {
            min-height: 100px;
          }
          @include mobileHorizontal {
            min-height: 80px;
          }

          i {
            font-size: 130px;

            @include mobile {
              font-size: 105px;
            }

            @include narrow {
              font-size: 95px;
            }
            @include mobileHorizontal {
              font-size: 75px;
            }
          }
        }

        // description
        h4 {
          font-size: 24px;
          margin: 0px;
          padding: 10px 0px;

          @include mobile {
            font-size: 20px;
          }
          @include mobileHorizontal {
            font-size: 17px;
          }
        }

        // current temp
        h2 {
          font-size: 60px;
          margin-top: 0px;
          margin-bottom: 10px;
          cursor: pointer;

          @include mobile {
            font-size: 55px;
          }

          @include narrow {
            font-size: 50px;
          }
          @include mobileHorizontal {
            font-size: 30px;
          }
        }

        // max/min temp
        h3 {
          font-size: 24px;
          padding: 0px;
          margin: 0px;

          @include mobileHorizontal {
            font-size: 20px;
          }

          .max-temp {
            padding: 0px 7px 0px 0px;
          }

          .min-temp {
            padding: 0px 0px 0px 10px;
          }
        }
      }
    }

    // background for drizzle - 300
    .bg300 {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
      backdrop-filter: blur(2px) contrast(95%);
    }
    // background for overcast - 804
    .bg804 {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
      backdrop-filter: blur(2px) contrast(95%);
    }
  }
}
